footer
	.container
		ul.row
			li: a(href='/about') About Us
			li#footerSpace /
			li: a(href='/faq') FAQ
			li#footerSpace /
			li: a(href='/contact') Contact Us
	.container
		ul.row
			li Sanjay Sagar &copy
