extends head

append js
	script(src='/js/index.js', defer="defer")

block content
	.background-image(style="background: url(img/seattle_skyline.jpg);background-position-y: 35%; background-repeat: no-repeat; background-size: cover;background-attachment: fixed;")
		.title-pane-alpha#aboutMe
			h1#name Sanjay Sagar
			h2#title Full Stack Web Developer
		.background-dark-red-alpha
			.about-me-pane
				.container
					.row
						.col-md-6.col-lg-6
							h1 About Me
							p  Hello! You seem to have stumbled upon my website! Welcome! 
							br
							p As of right now, I have recently graduated from the University of Washington with a B.S. in Informatics. My speciality is in web and application development. When, I'm not working, I enjoy taking a crack at pixel art. I'm always trying to find a new challenge to tackle.
							br
							p I'm currently seeking employment. You can view my current works and projects I'm working on. Feel free to also check out my Github or LinkedIn.
						.offset-md-3.offset-lg-3
							#pictureSpacing
								img.img-responsive#picture(src="img/Sanjay.jpg")
	.background-red
		.title-pane#resume
			h2#title Resume
	.background-image(style="background: url(img/seattle_skyline.jpg);background-position-y: 35%; background-repeat: no-repeat; background-size: cover;background-attachment: fixed;")
		.background-gray-alpha
			.container
				.row
					h2 Education
					ul
						li #[b University of Washington], Seattle, WA
						ul
							li Bachelor of Science in Informatics, Cumulative GPA: 3.56/4.0, June 2016
				.row
					h2 Skills
					ul
						li #[b Programming Languages:] Java, SQL, JavaScript, Node.js, Go, JQuery, Swift, Jade/HTML, CSS, Python, C#
						li #[b Communication:] Formal presentations, results-driven questioner and listener
						li #[b Design:] Visio, Visual Paradigm, SAP BusinessObjects Data Services (BODS)
						li #[b Platforms:] Windows, Linux and OS X
				.row
					h2 Experience
					ul
						li #[b Web Developer], October 2015 – Present #[br] STF (Student Technology Fee) - #[a(href="https://www.uwstf.org", target="_blank") www.uwstf.org], Seattle, WA
						ul
							li Developed website using Node.js with Express, JQuery and MySQL
							li Deployed and managed a web application using AWS EC2
							li Met with stakeholders and maintained contact in order to meet the needs of the STF Committee
							li Migrated previous year’s data into existing database using MySQL Workbench
						br
						li #[b Data Governance Intern], June 2015 – September 2015 #[br] Costco, Issaquah, WA
						ul
							li Standardized SAP BODS validation process with templates and procedures
							li Created data scorecards for data governance team
							li Profiled data sets and tested validity of entities with SAP BODS
						br
						li #[b Compliance Officer], September 2014 – October 2015 #[br] STF (Student Technology Fee), Seattle, WA
						ul
							li Organized meetings with grant recipients to ascertain the degree of use of funded proposals
							li Recorded concerns from UW faculty members regarding STF procedures
							li Tracked reported and unreported inconsistencies with the approved proposals
							li Maintained logs of questions, feedback, and inquiries from campus entities
				.row
					h2 Relevant Coursework
					ul
						li #[b Data Structures and Algorithms]
						ul
							li Learned and implemented various fundamental data structures in assignments (Linked Lists, Binary/AVL Trees, Stacks/Queues, Graphs)
							li Explored various Tree traversal methods and searching/sorting algorithms
							li Studied asymptotic algorithm analysis with Big O notation
					br
	.background-dark-gray#works
		.title-pane
			h2#title Works
	.background-dark-red.works-pane
		.container
			.row
				.col-md-4.col-lg-4#list
					.row
						button.btn.btn-primary Co-Aud
					.row
						h3 STF
					.row
						h3 STF Infographic
				.col-md-4.col-lg-4#list
					.row
						a(href="http://www.co-aud.io", target="_blank")
							img.img-responsive#picture(src="img/coaud.png")
				.col-md-4.col-lg-4#list
					.row
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque magni harum alias sapiente voluptas pariatur, in architecto qui amet esse voluptatem officia. Autem alias aliquid provident labore, voluptatem eveniet ad!
			
			
			
			//- .row
			//- 	.col-md-4.col-lg-4
			//- 		a(href="http://www.co-aud.io", target="_blank")
			//- 			img.img-responsive#picture(src="img/coaud.png")
			//- 	.col-md-4.col-lg-4
			//- 		a(href="https://www.uwstf.org", target="_blank")
			//- 			img.img-responsive#picture(src="img/stf.png")
			//- 	.col-md-4.col-lg-4
			//- 		a(href="/projects/info.pdf", target="_blank")
			//- 			img.img-responsive#picture(src="img/infographic.png")
	.background-black#contact
		.footer-pane
			h2#title Contact
			hr.line
			p Email: sagas@uw.edu
			p Phone Number: (206) - 853 - 9171
			a.btn.azm-social.azm-size-64.azm-circle.azm-linkedin(href="https://www.linkedin.com/in/sanjaysagarp", target="_blank")
				i.fa.fa-linkedin
			a.btn.azm-social.azm-size-64.azm-circle.azm-github(href="https://github.com/sanjaysagarp", target="_blank")
				i.fa.fa-github
			a.btn.azm-social.azm-size-64.azm-circle.azm-email-2(href="mailto:sagas@uw.edu", target="_top")
				i.fa.fa-envelope
			