extends head

block content
	.background-image(style="background: url(img/seattle_skyline.jpg);background-position-y: 40%; background-repeat: no-repeat; background-size: cover;")
		.title-pane
			h1 Full Stack Web Developer