extends head

append js
	script(src='/js/index.js', defer="defer")

block content
	.background-image(style="background: url(img/seattle_skyline.jpg);background-position-y: 35%; background-repeat: no-repeat; background-size: cover;background-attachment: fixed;")
		.title-pane-alpha#aboutMe
			h1#name Sanjay Sagar
			h2#title Full Stack Web Developer
		.background-dark-red-alpha
			.about-me-pane
				.container
					.row
						.col-md-6.col-lg-6
							h1 About Me
							p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere dolorem, ab odio consectetur, quis corporis ratione laudantium dignissimos perferendis, excepturi beatae explicabo consequatur molestias officia labore recusandae dolorum asperiores dicta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi aut optio dolore id libero error, laborum quae cupiditate nostrum asperiores perspiciatis vitae sequi, sint iure autem beatae facere blanditiis dignissimos.
						.offset-md-3.offset-lg-3
							#pictureSpacing
								img.img-responsive#picture(src="img/Sanjay.jpg")
	.background-red
		.title-pane#resume
			h2#title Resume
	.background-image(style="background: url(img/seattle_skyline.jpg);background-position-y: 35%; background-repeat: no-repeat; background-size: cover;background-attachment: fixed;")
		.background-gray-alpha
			.container
				.row
					h2 Education
					ul
						li #[b University of Washington], Seattle, WA
						ul
							li Bachelor of Science in Informatics, Cumulative GPA: 3.56/4.0, June 2016
				.row
					h2 Skills
					ul
						li #[b Programming Languages:] Java, SQL, JavaScript, Node.js, Go, JQuery, Swift, Jade/HTML, CSS, Python, C#
						li #[b Communication:] Formal presentations, results-driven questioner and listener
						li #[b Design:] Visio, Visual Paradigm, SAP BusinessObjects Data Services (BODS)
						li #[b Platforms:] Windows, Linux and OS X
				.row
					h2 Experience
					ul
						li #[b Web Developer], October 2015 – Present #[br] STF (Student Technology Fee) - #[a(href="https://www.uwstf.org", target="_blank") www.uwstf.org], Seattle, WA
						ul
							li Developed website using Node.js with Express, JQuery and MySQL
							li Deployed and managed a web application using AWS EC2
							li Met with stakeholders and maintained contact in order to meet the needs of the STF Committee
							li Migrated previous year’s data into existing database using MySQL Workbench
						br
						li #[b Data Governance Intern], June 2015 – September 2015 #[br] Costco, Issaquah, WA
						ul
							li Standardized SAP BODS validation process with templates and procedures
							li Created data scorecards for data governance team
							li Profiled data sets and tested validity of entities with SAP BODS
						br
						li #[b Compliance Officer], September 2014 – October 2015 #[br] STF (Student Technology Fee), Seattle, WA
						ul
							li Organized meetings with grant recipients to ascertain the degree of use of funded proposals
							li Recorded concerns from UW faculty members regarding STF procedures
							li Tracked reported and unreported inconsistencies with the approved proposals
							li Maintained logs of questions, feedback, and inquiries from campus entities
				.row
					h2 Relevant Coursework
					ul
						li #[b Data Structures and Algorithms]
						ul
							li Learned and implemented various fundamental data structures in assignments (Linked Lists, Binary/AVL Trees, Stacks/Queues, Graphs)
							li Explored various Tree traversal methods and searching/sorting algorithms
							li Studied asymptotic algorithm analysis with Big O notation
					br
	.background-dark-gray#works
		.title-pane
			h2#title Works
	.background-dark-red.works-pane
		.container
			.row
				.col-md-4.col-lg-4.list#buttons
					.row
						button.button.selected#coaudButton
							h3 Co-Aud
					.row
						button.button#stfButton
							h3 STF
					.row
						button.button#infoButton
							h3 STF Infographic
				.col-md-4.col-lg-4.list
					.row
						#image
							a(href="http://www.co-aud.io", target="_blank")
								img.img-responsive#picture(src="img/coaud.png")
				.col-md-4.col-lg-4.list
					.row
						p#description Co-Aud focuses on fostering a creative incubator for those interested in animating, game developing, and voice acting. Co-Aud aims to create a simple interface that will make collaborating between content creators and voice actors as easy as possible. Co-Aud will streamline the process for content creators to post an opportunity and to find the right voice actors/actresses the role. In addition, this will provide voice actors/actresses a way to increase their experience and skills. Not only will Co-Aud act as a central hub, it will also challenge the community with monthly contests. The goal is to connect communities in an organized and efficient manner to reach out and collaborate on communal projects. We would also like to provide a platform through which amateur voice actors can showcase their talents and contact others who are trying to get into the industry, and network with content creators who provide projects and feedback.
			
			
			
			//- .row
			//- 	.col-md-4.col-lg-4
			//- 		a(href="http://www.co-aud.io", target="_blank")
			//- 			img.img-responsive#picture(src="img/coaud.png")
			//- 	.col-md-4.col-lg-4
			//- 		a(href="https://www.uwstf.org", target="_blank")
			//- 			img.img-responsive#picture(src="img/stf.png")
			//- 	.col-md-4.col-lg-4
			//- 		a(href="/projects/info.pdf", target="_blank")
			//- 			img.img-responsive#picture(src="img/infographic.png")
	.background-black#contact
		.footer-pane
			h2#title Contact
			hr.line
			p Email: sagas@uw.edu
			p Phone Number: (206) - 853 - 9171
			a.btn.azm-social.azm-size-64.azm-circle.azm-linkedin(href="https://www.linkedin.com/in/sanjaysagarp", target="_blank")
				i.fa.fa-linkedin
			a.btn.azm-social.azm-size-64.azm-circle.azm-github(href="https://github.com/sanjaysagarp", target="_blank")
				i.fa.fa-github
			a.btn.azm-social.azm-size-64.azm-circle.azm-email-2(href="mailto:sagas@uw.edu", target="_top")
				i.fa.fa-envelope
			